@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  body {
    @apply bg-canvas text-body font-sans;
  }
  
  /* Remove default Vite #root constraints */
  #root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
